page-finished-visit {
    #BaseLabel{
        display: block;
        text-align: center;
        font-size: 30px;
        color: rgb(0,182,185);
        font-weight: 100;
        margin-top: 20px;
        margin-left: -30px;
    }
    #StartTimingLabel{
        display: block;
        text-align: center;
        font-size: 30px;
        color: rgb(0,182,185);
        font-weight: 100;
        margin-top: 10px;
        margin-left: -30px;
    }
    #ValueLabel{
        color: rgb(196,86,86);
    }
    #ButtonsDiv{
        display: block;
        width: 100%;
        height: 10%;
        margin-bottom: 95px;
        margin-left: 10px;
        position: fixed;
        bottom: 0;
    }
    #ButtonsDiv button{
        width: 94%;
        height: 80px;
        background-color: rgb(196,86,86);
        border-radius: 5px;
        color: white;
        font-size: 34px;
        font-weight: 100;
    }
    @media only screen and (max-width: 330px) and ( min-width: 310px) {
        #BaseLabel{
            font-size: 28px;
        }
        #StartTimingLabel{
            //margin-top: -3px;
            font-size: 27px;
        }
    }
    @media only screen and (max-width: 369px) and ( min-width: 350px) {
         #StartTimingLabel{
            margin-top: 10px;
        }
    }
    @media only screen and (max-width: 380px) and ( min-width: 370px) {
        #BaseLabel{
            font-size: 33px;
        }
        #StartTimingLabel{
            //margin-left: -10px;
            font-size: 30px;
        }
    }
    @media only screen and (max-width: 444px) and ( min-width: 400px) {
        #BaseLabel{
            font-size: 33px;
        }
        #StartTimingLabel{
            //argin-left: 30px;
            font-size: 35px;
        }
    }
    @media only screen and (max-width: 650px) and ( min-width: 550px) {
        #BaseLabel{
            font-size: 50px;
        }
        #StartTimingLabel{
            font-size: 50px;
        }
        #ButtonsDiv button{
            height: 100px;
            width: 96%;
            font-size: 50px;
        }
    }
    @media only screen and (max-width: 768px) and ( min-width: 700px) {
        #BaseLabel{
            margin-left: -80px;
            font-size: 60px;
        }
        #StartTimingLabel{
            margin-left: -60px;
            font-size: 60px;
        }
        #ButtonsDiv button{
            width: 97%;
            height: 100px;
            font-size: 60px;
        }
    }
}
