page-home {
    ion-content{
        background-image: url("../assets/images/background.png");
        height: 100%;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #BaseLabel{
        display: block;
        text-align: center;
        font-size: 40px;
        margin-top: 60px;
        color: white;
        font-weight: 900;
        font-kerning: normal;
    }
    #ActivationDiv{
        text-align: center;
        width: 90%;
        margin-top: 20px;
    }
    #HomeInActiveLabel{
        display: block;
        text-align: center;
        font-size: 30px;
        margin-top: 60px;
        color: white;
        float: left;
        margin-left: 10px;
        margin-top: -4px;
    }
    #HomeActiveLabel{
        display: block;
        text-align: center;
        font-size: 30px;
        margin-top: 60px;
        color: white;
        float: right;
        margin-right: 5px;
        margin-top: -4px;
    }
    .Switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        //margin-top: 50px;
    }
    .Switch input {
        display: none;
        border: 15px solid black;
    }
    .Slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .Slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .Slider {
        background-color: rgb(0,182,185);
    }

    input:focus + .Slider {
        box-shadow: 0 0 1px rgb(0,182,185);
    }

    input:checked + .Slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .Slider.Round {
        border-radius: 34px;
    }

    .Slider.Round:before {
        border-radius: 50%;
    }
    @media only screen and ( min-width: 800px) {
        #BaseLabel { 
            font-size: 80px;
        }
        #HomeInActiveLabel{
            font-size: 60px;
            margin-left: 60px;
            margin-top: -6px;
        }
        #HomeActiveLabel{
            font-size: 60px;
            margin-right: 130px;
            margin-top: -6px;
        }
        .Switch {
            width: 120px;
            height: 60px;
            //margin-top: 50px;
        }
        .Slider:before {
            position: absolute;
            content: "";
            height: 50px;
            width: 50px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked + .Slider:before {
            -webkit-transform: translateX(60px);
            -ms-transform: translateX(60px);
            transform: translateX(60px);
        }
    }
    @media only screen and (max-width: 799px) and ( min-width: 700px) {
        #BaseLabel { 
            font-size: 80px;
        }
        #HomeInActiveLabel{
            font-size: 60px;
            margin-left: 8%;
            margin-top: -6px;
        }
        #HomeActiveLabel{
            font-size: 60px;
            margin-right: 8%;
            margin-top: -6px;
        }
        .Switch {
            width: 120px;
            height: 60px;
            //margin-top: 50px;
        }
        .Slider:before {
            position: absolute;
            content: "";
            height: 50px;
            width: 50px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked + .Slider:before {
            -webkit-transform: translateX(60px);
            -ms-transform: translateX(60px);
            transform: translateX(60px);
        }
    }
    @media only screen and (max-width: 670px) and ( min-width: 550px) {
        #BaseLabel { 
            font-size: 80px;
        }
        #HomeInActiveLabel{
            font-size: 50px;
            margin-left: 8%;
            margin-top: -6px;
        }
        #HomeActiveLabel{
            display: inline-block;
            font-size: 50px;
            margin-right: 8%;
            margin-top: -6px;
        }
        .Switch {
            width: 100px;
            height: 55px;
        }
        .Slider:before {
            position: absolute;
            content: "";
            height: 45px;
            width: 45px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked + .Slider:before {
            -webkit-transform: translateX(48px);
            -ms-transform: translateX(48px);
            transform: translateX(48px);
        }
    }
    @media only screen and (max-width: 414px) and ( min-width: 400px) {

        #BaseLabel {
            font-size: 60px;
            margin-top: 60px;
        }
        #HomeInActiveLabel{
            font-size: 40px;
        }
        #HomeActiveLabel{
            font-size: 40px;
        }
        .Switch {
            width: 70px;
            height: 40px;
            margin-top: 5px;
        }
        .Slider:before {
            position: absolute;
            content: "";
            height: 32px;
            width: 32px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked + .Slider:before {
            -webkit-transform: translateX(30px);
            -ms-transform: translateX(30px);
            transform: translateX(30px);
        }
    }
    @media only screen and (max-width: 395px) and ( min-width: 370px) {
        #HomeInActiveLabel{
            font-size: 35px;
            //margin-left: 20px;
        }
        #HomeActiveLabel{
            font-size: 35px;
            //margin-right: 10px;
        }
        .Switch {
            width: 60px;
            height: 34px;
        }
    }
    @media only screen and (max-width: 369px) and ( min-width: 350px) {
        .Switch {
            width: 60px;
            height: 34px;
        }
    }
    @media only screen and (max-width: 320px){
        #HomeActiveLabel{
            margin-right: 10px;
        }
        .Switch {
            width: 60px;
            height: 34px;
        }
    }
    
}
