page-rate-last-visit {
    #BaseLabel{
        display: block;
        font-size: 30px;
        color: rgb(0,182,185);
        font-weight: 100;
        font-kerning: normal;
        margin-top: 20px;
        margin-left: 10px;
    }
    #PatiantDiv{
        display: block;
        width: 100%;
        height: 20%;
    }
    #ImageDiv{
        display: inline-block;
        border:1px solid rgb(0,182,185);
        border-radius: 8px;
        border-width: thin;
        width: 25%;
        margin-top: 10px;
        margin-left: 10px;
        height: 90%;
    }
    #ImageDiv img{
        width: 100%;
        height: 100%;
    }
    #DetailsDiv{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 100px;
    }
    #DetailsDiv label{
        display: inline-block;
        font-size:25px;
        color: rgb(0,182,185);
        font-weight: 400;
    }
    #StarsDiv{
        margin-left: 10px;
    }
    #StarsDiv button{
        margin-left: 15px;
        font-size: 38px;
        background-color: transparent;
    }
    textarea{
        resize: none;
        width: 86%;
        height: 20%;
        margin-left: 10px;
        background-color: #EBEAE8;
        border-color: #EBEAE8;
        border-radius: 10px;
        font-size: 30px;
    }
    #ButtonsDiv{
        display: block;
        width: 100%;
        height: 10%;
        margin-bottom: 140px;
        margin-left: 10px;
        position: fixed;
        bottom: 0;
    }
    #ButtonsDiv button{
        position: fixed;
        right: 0;
        width: 40%;
        height: 70px;
        background-color: rgb(196,86,86);
        border-radius: 10px;
        color: white;
        margin-top: 5px;
        margin-right: 10px;
        font-size: 28px;
        font-weight: 100;
    }
    @media only screen and (max-width: 330px) and ( min-width: 310px) {
        #ImageDiv{
            height: 90%;
        }
        #StarsDiv{
            text-align: center;
            margin-left: -30px;
        }
        #StarsDiv button{
            font-size: 30px;
        }
        #DetailsDiv label{
            font-size: 20px;
        }
        #ButtonsDiv{
            margin-bottom: 110px;
        }
        #ButtonsDiv button{
            height: 45px;
            font-size: 30px;
        }
    }
    @media only screen and (max-width: 369px) and ( min-width: 350px) {
    }
    @media only screen and (max-width: 380px) and ( min-width: 370px) {
        #ButtonsDiv{
            margin-bottom: 130px;
        }
        textarea{
            margin-top: 10px;
        }
    }
    @media only screen and (max-width: 414px) and ( min-width: 400px) {
        #ImageDiv{
            height: 70%;
        }
        #PatiantDiv{
            height: 25%;
        }
        #StarsDiv{
            margin-top: -30px;
        }
        #StarsDiv button{
            font-size: 48px;
        }
        textarea{
            margin-top: 10px;
        }
        #ButtonsDiv{
            margin-bottom: 130px;
        }
        #BaseLabel{
            font-size: 40px;
        }
    }
    @media only screen and (max-width: 650px) and ( min-width: 550px) {
        #DetailsDiv{
            margin-bottom: 170px;
        }
        #DetailsDiv label{
            font-size: 40px;
        }
         #StarsDiv{
            text-align: center;
            margin-left: -30px;
        }
        #BaseLabel{
            font-size: 50px;
        }
        textarea{
            width: 87.8%;
            height: 25%;
            margin-top: 40px;
            font-size: 40px;
        }
        #ButtonsDiv{
            margin-bottom: 220px;
        }
        #ButtonsDiv button{
            height: 90px;
            font-size: 50px;
        }
    }
    @media only screen and (max-width: 768px) and ( min-width: 700px) {
        #DetailsDiv{
            margin-bottom: 170px;
        }
        #DetailsDiv label{
            font-size: 40px;
        }
        #StarsDiv{
            text-align: center;
            margin-left: -30px;
        }
        #StarsDiv button{
            
        }
        #BaseLabel{
            font-size: 60px;
        }
        textarea{
            width: 88.3%;
            margin-top: 40px;
            font-size: 40px;
            height: 25%;
        }
        #ButtonsDiv{
            margin-bottom: 220px;
        }
        #ButtonsDiv button{
            height: 100px;
            font-size: 50px;
        }
    }
}
